<ion-content class="background">
  <div class="content">
    <div class="button-action">
      <ion-button fill="clear" color="dark" size="small">
        <b><p class="signin-text">Sign In</p></b>
      </ion-button>
      <ion-button fill="clear" color="dark" size="small">
        <b><p class="signup-text">Sign Up</p></b>
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-input
        type="email"
        placeholder="Email"
        style="
          padding-left: 10px !important;
          font-family: 'Nunito, sans-serif';
        "
      ></ion-input>
      <br />
      <ion-input placeholder="Password"></ion-input>
    </div>
    <ion-button
      class="actionbutton"
      expand="full"
      fill="clear"
      routerLink="/recipes"
      style="text-transform: none;"
      >Sign In</ion-button
    >
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-checkbox checked style="margin-bottom: 7px; margin-left: 8px;"
            >&nbsp;
            <ion-label
              style="
                display: inline-block;
                color: #ff0000;
                vertical-align: top;
                font-family: 'Nunito, sans-serif';
              "
              ><p style="font-size: small; margin-bottom: 3px;">
                Stay connected
              </p></ion-label
            >
          </ion-checkbox>
        </ion-col>
        <ion-col size="6">
          <ion-button
            fill="clear"
            style="
              font-size: small;
              color: #ff0000;
              margin-right: 10px;
              text-transform: none;
              font-family: 'Nunito, sans-serif';
            "
            ><p style="font-size: small; margin-bottom: 37.5px;">
              Forgot Password?
            </p></ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="line" size="5"> </ion-col>
        <ion-col size="2" style="text-align: center; color: antiquewhite;">
          Or
        </ion-col>
        <ion-col class="line" size="5"> </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="fbbutton" fill="clear"
      ><a href="http://www.facebook.com"></a> Facebook</ion-button
    >
    <ion-button class="googlebutton" fill="clear"
      ><a href="http://www.google.com"></a> Google</ion-button
    >
  </div>
</ion-content>
