<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="dark">
    <ion-searchbar (ionInput)="FilterJSONData($event)"></ion-searchbar>
  </ion-toolbar>
  <div class="ion-padding">
    <ion-list>
      <ion-item (click)="selectVal(item.name)" *ngFor="let item of jsonData">
        {{item.name}}
      </ion-item>
    </ion-list>
  </div>
  <ion-list>
    <app-recipe-item
      *ngFor="let recipe of recipes"
      [recipeItem]="recipe"
    ></app-recipe-item>
  </ion-list>
</ion-content>
